/**
 * Global variables.
 */
:root {
  --main-link-color: #394856;
  --main-link-hover-color: #818589;
  --article-list-link-color: #394856;
  --article-list-link-hover-color: #818589;
  --main-border-color: #cccccc;
  --main-color: black;
  --secondary-color: #666;
  --third-color: #999;
  --main-bg-color: white;
  --secondary-bg-color: white;
}

/**
 * Global settings.
 */
body {
  line-height: 1.85;
}

a:active,
a:visited,
a:link {
  color: var(--main-link-color);
  text-decoration: none;
}
a:hover {
  color: var(--main-link-hover-color);
  text-decoration: underline;
}

/**
 * Default article list body text coloring.
 */
.text-item a:active,
.text-item a:link,
.text-item a:visited {
  color: var(--article-list-link-color);
  text-decoration: none;
}
.text-item a:hover {
  color: var(--article-list-link-hover-color);
  text-decoration: none;
}


/**
 * Allows the toolbar to be seen.
 */
#page-header{
  z-index: 500;
}

/**
 * Tag cloud padding
 */
.tagclouds-term{
  padding:15px;
}

/**
 * Flippy coloring
 */
.flippy .page-link {
  color: var(--main-link-color);
}
.flippy .page-link:hover {
  color: var(--main-link-hover-color);
}

/**
 * Quiz css
 */
.paragraph--type--quiz{
  position:relative;
}
.wrapper-quiz-correct {
  background-color: white;
  position: absolute;
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
}

/**
 * Global paragraphs css
 */
.blockquote-content,
ul.main-points,
.quiz-content {
  border-left: 15px solid ;
  border-right: 2px solid ;
  -moz-box-shadow: 2px 2px 7px;
  -webkit-box-shadow: 2px 2px 7px;
  box-shadow: 2px 2px 7px ;
  border-color: var(--main-border-color);
}

/**
 * Quote block
 */
.blockquote-content{
  display:block;
  padding: 25px 20px 15px 45px;
  margin: 15px 0 20px 0;
  position: relative;
  color: var(--secondary-color);
  text-align: justify;
}

.blockquote-content::before{
  content: "\201C";
  position: absolute;
  left: 10px;
  top:0;
  font-family: Georgia;
  font-size: 60px;
  font-weight: bold;
  color: var(--third-color);
}

.blockquote-content::after{
  content: "";
}

/**
 * Main points
 */
ul.main-points {
  display:block;
  padding: 20px 20px 15px 0;
  margin: 15px 0 20px 0;
  line-height: 2;
}

ul.main-points li {
  padding-left:15px ;
  list-style-type: none;
  counter-increment: item;
}

ul.main-points li:before {
  content: counter(item);
  display: inline-block;
  width: 19px;
  margin-right: 5px;
  color: var(--secondary-color);
  font-family: Georgia, inherit;
  font-weight: bold;
  font-size: 120%;
  border-right: 10px;
}

/**
 * Questions
 */
.quiz-content {
  display:block;
  padding: 20px 20px 15px 0;
  margin: 15px 0 20px 0;
  line-height: 2;
}

.wrapper-quiz-content{
  padding-left: 40px;
}

/**
 * Views
 */
#block-views-block-articles-blk-12-article-list h2.h4,
#block-views-block-articles-blk-12-article-list .text-item .body{
  max-width: 85%;
}

#block-views-block-articles-blk-12-article-list img {
  max-width:100%;
  height: auto;
}

/**
 * Article image and text on different screen sizes.
 */
/* Titles */
@media only screen and (max-width: 1024px) {
  .media-image-article img {
    max-width: 100% !important;
    height: auto;
  }
}

@media only screen and (max-width: 1300px) {
  .d-inline-block h2.h4 {
    font-size: calc(1.15rem + .3vw);
  }
}

/* Body text */
.d-inline-block .related-item {
  max-height: 500px;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  .d-inline-block h2.h4 {
    font-size: calc(0.92rem + .3vw);
  }
  .d-inline-block .related-item {
    position: relative;
    max-height: 177px;
    overflow: hidden;
  }
  .d-inline-block .related-item:after {
    content: "...";
    color: var(--article-list-link-color);
    font-size: 26px;
    position: absolute;
    left: 0;
    bottom:-12px;
  }
}

@media only screen and (max-width: 1440px) {
  .d-inline-block .related-item {
    max-height: 490px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 580px) {
  .d-inline-block h2.h4 {
    font-size: calc(1.15rem + .3vw);
  }
  .d-inline-block .related-item {
    max-height: unset;
    overflow: unset;
  }
  .d-inline-block .related-item:after {
    content: "";
  }
}
