{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}
{% if breadcrumb %}
    <nav aria-labelledby="system-breadcrumb" class="breadcrumb-nav pt-3 pb-1">
        <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
        <ol class="breadcrumb">
            {% for item in breadcrumb %}
                {% if item.url %}
                    <li class="breadcrumb-item">
                        <a href="{{ item.url }}">{{ item.text }}</a>
                    </li>
                {% else %}
                    <li class="breadcrumb-item active" aria-current="page">
                        {{ item.text }}
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
{% endif %}
