{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div id="page-header" class="w-100 shadow bg-white sticky-top page-header pt-3 pb-3">
    <header class="container">
        <div class="row">
            {{ page.header }}
        </div>
    </header>
</div>
{% if page.navigation|render|striptags|trim %}
    <div id="page-navigation" class="w-100 page-navigation">
        <div class="container">
            {{ page.navigation }}
        </div>
    </div>
{% endif %}
{% if page.breadcrumb|render|striptags|trim %}
    <div id="page-breadcrumb" class="w-100 page-breadcrumb">
        <div class="container">
            {{ page.breadcrumb }}
        </div>
    </div>
{% endif %}
{% if page.highlighted|render|striptags|trim %}
    <div id="page-highlighted" class="w-100 page-highlighted">
        <div class="container">
            {{ page.highlighted }}
        </div>
    </div>
{% endif %}
{% if page.help|render|striptags|trim %}
    <div id="page-help" class="w-100 page-help">
        <div class="container">
            {{ page.help }}
        </div>
    </div>
{% endif %}
{% if page.post_top|render|striptags|trim %}
    <div id="page-top" class="w-100 page-top">
        <div class="container">
            {{ page.page_top }}
        </div>
    </div>
{% endif %}
{% if page.pre_content|render|striptags|trim %}
    <div id="page-pre-content" class="w-100 page-pre-content">
        {{ page.pre_content }}
    </div>
{% endif %}
<main class="w-100">
    <a id="main-content" tabindex="-1"></a>
    <div id="page-content" class="container page-content">
     <div class="row pt-4">
       {% if page.sidebar_first|render|striptags|trim and page.sidebar_first|render|striptags|trim %}
            <aside class="layout-sidebar-first col-md-3 py-2">
                {{ page.sidebar_first }}
            </aside>
            <div class="layout-content col-md-6">
                {{ page.content }}
            </div>
            <aside class="layout-sidebar-second col-md-3 py-2">
                {{ page.sidebar_second }}
            </aside>

        {% elseif page.sidebar_first|render|striptags|trim %}
            <aside class="layout-sidebar-first col-md-4 py-2">
                {{ page.sidebar_first }}
            </aside>
            <div class="layout-content col-md-8">
                {{ page.content }}
            </div>

        {% elseif page.sidebar_second|render|striptags|trim %}
            <div class="layout-content col-md-8">
                {{ page.content }}
            </div>
            <aside class="layout-sidebar-second col-md-4 py-2">
                {{ page.sidebar_second }}
            </aside>

        {% else %}
            <div class="layout-content">
                {{ page.content }}
            </div>

        {% endif %}

     </div>
    </div>
</main>
{% if page.post_content|render|striptags|trim %}
    <div id="page-post-content" class="w-100 page-post-content">
        {{ page.post_content }}
    </div>
{% endif %}
<footer>
  {% if page.footer_first|render|striptags|trim %}
    <div id="page-footer-first" class="w-100 footer mt-auto py-3 bg-light page-footer">
      <div class="container">
        {{ page.footer_first }}
      </div>
    </div>
  {% endif %}
  <div id="page-footer-wrapper" class="w-100 footer mt-auto py-3 bg-light page-footer">
    <div class="container">
      <div class="row">
       <div id="page-footer-second" class="footer-inner mt-auto col-md-3">
         {{ page.footer_second }}
       </div>
       <div id="page-footer-third" class="footer-inner mt-auto py-3 col-md-3">
         {{ page.footer_third }}
       </div>
       <div id="page-footer-forth" class="footer-inner mt-auto py-3 col-md-3">
         {{ page.footer_fourth }}
       </div>
       <div id="page-footer-fifth" class="footer-inner mt-auto py-3 col-md-3">
         {{ page.footer_fifth }}
       </div>
      </div>
    </div>
  </div>
  {% if page.footer_sixth|render|striptags|trim %}
    <div id="page-footer-sixth" class="w-100 footer mt-auto py-3 bg-light page-footer">
      <div class="container">
        {{ page.footer_sixth }}
      </div>
    </div>
  {% endif %}
</footer>
