{#
/**
 * @file
 * Default theme implementation for the flippy pager.
 *
 * Available variables:
 * - node: The current node.
 * - first: The first pager link.
 * - prev: The previous pager link.
 * - random: The random pager link.
 * - next: The first pager link.
 * - last: The last pager link.
 *
 * @see template_preprocess_flippy()
 *
 * @ingroup themeable
 */
#}
<ul class="flippy pagination pagination-sm justify-content-center pt-4">
  {% if first %}
    <li class="flippy-first"><span class="page-link text-wrap">{{ first }}</span></li>
  {% endif %}
  {% if prev %}
    <li class="flippy-previous ps-0"><span class="page-link text-wrap"><< {{ prev }}</span></li>
  {% endif %}
  {% if random %}
    <li class="flippy-random"><span class="page-link text-wrap">{{ random }}</span></li>
  {% endif %}
  {% if next %}
    <li class="flippy-next"><span class="page-link text-wrap">{{ next }} >></span></li>
  {% endif %}
  {% if last %}
    <li class="flippy-last"><span class="page-link text-wrap">{{ last }}</span></li>
  {% endif %}
</ul>
