{#
/**
 * @file
 * Default theme implementation for a views mini-pager.
 *
 * Available variables:
 * - heading_id: Pagination heading ID.
 * - items: List of pager items.
 *
 * @see template_preprocess_views_mini_pager()
 *
 * @ingroup themeable
 */
#}
{% if items.previous or items.next %}
  <nav role="navigation" aria-labelledby="{{ heading_id }}">
    <p id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</p>
    <ul class=" pagination pagination-sm justify-content-center js-pager__items">
      {% if items.previous %}
        <li>
          <a href="{{ items.previous.href }}" class="page-link" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Previous page'|t }}</span>
            <span aria-hidden="true">{{ items.previous.text|default('‹‹'|t) }}</span>
          </a>
        </li>
      {% endif %}
      {% if items.current %}
        <li>
          {% trans %}
            <span class="p-1 pt-2">Page {{ items.current }} </span>
          {% endtrans %}
        </li>
      {% endif %}
      {% if items.next %}
        <li>
          <a href="{{ items.next.href }}" class="page-link" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Next page'|t }}</span>
            <span aria-hidden="true">{{ items.next.text|default('››'|t) }}</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
